[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
typing = "pyright src tests"
linting = "flake8 src tests"
tests = "py.test tests -s --cov=src --cov-report=term-missing --cov-fail-under 99"

[packages]
numpy = "*"

[dev-packages]
pyright = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
flake8 = "*"
flake8-black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true